<style type="text/css" media="screen">
/*
.nodes-image {
	margin:-100;
}
*/	
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.imageblock .content img, .image img {max-width: 900px;max-height: 300px;}
.deck h3, .deck h4 {display: block !important;margin-bottom:8px;margin-top:5px;}
.listingblock {margin:8px;}
.pull-bottom {position:relative;bottom:1em;}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}
.admonitionblock.note.speaker { display:none; }
</style>
<style type="text/css" media="screen">
/* #editor.maximize-editor .CodeMirror-code { font-size:24px; line-height:26px; } */
</style>
<article class="guide" ng-controller="AdLibDataController">
  <carousel class="deck container-fluid">
    <!--slide class="row-fluid">
      <div class="col-sm-3">
        <h3>GraphGist for the first steps in the graph database using the regesta of emperor Frederick III.</h3>
        <p class="lead">Information</p>
			<!dl>
				
				
				
				
				
			</dl>
		</div>
      <div class="col-sm-9">
        <figure>
          <img style="width:300px" src=""/>
        </figure>
      </div>
    </slide-->
    


<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>GraphGist for the first steps in the graph database using the regesta of emperor Frederick III.</h3>
    <br/>
    <div>
      


   <h4>First steps in the graph database using the <a href="http://www.regesta-imperii.de/en/home.html">regesta of emperor Frederick III.</a></h4>
   <div class="imageblock">
<div class="content">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Hans_Burgkmair_d._%C3%84._%28zugeschr.%29_-_Bildnis_Kaiser_Friedrich_III.jpg/490px-Hans_Burgkmair_d._%C3%84._%28zugeschr.%29_-_Bildnis_Kaiser_Friedrich_III.jpg" alt="490px Hans Burgkmair d. %C3%84. %28zugeschr.%29   Bildnis Kaiser Friedrich III">
</div>
</div>
	</div>
  </div>
</slide>



   <h4>B1 Create Graph Database Manually</h4>
   


<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>B1.1 Nodes</h3>
    <br/>
    <div>
      


   <h4>Create and Find</h4>
   <div class="paragraph">
<p>With the command "CREATE" you create a node, represented by two brackets: ()
Within the brackets, you assign a variable to the node, e.g. "n" for "node": (n). The n is followd by a double collon and then the type or the label of the node.
Within this command you can now use "n" to refer to the created node. The variable remains valid only until the command is terminated with a semicolon. It is not saved afterwards and can be reassigned again and again.</p>
</div>
<div class="paragraph">
<p>With the command "RETURN" you can output (display) something. Depending on the result this can be done graphically or in table form.
The node (n) just created with "RETURN n;" or everything created within the command with "RETURN*;". The asterisk stands for all nodes and edges created or found within the command.
The semicolon closes the command.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CREATE (n:Person) RETURN n;<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p><strong>means</strong>: "Create a node, here called n, of type Person and show me n."</p>
</div>
<div class="paragraph">
<p>The "MERGE" command first checks whether a corresponding node already exists; if not, it is created again.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MERGE (n:Person) RETURN n;<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p><strong>means</strong>: "Check if there are a node of type Person. If not, create one and show me n."</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Delete and cut off</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>To delete a node we use the command DELETE. First we have to find all nodes in the database we want to delete. We do this with the MATCH command.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (n:Person) DELETE n<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p><strong>means</strong>: "Find node n with the label Person and delete n."</p>
</div>
<div class="paragraph">
<p>This only works because our node has no connections (edges) to other nodes yet. To delete a node that is connected in the database, its edges must first be removed with the DETACH command.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (n) DETACH DELETE n<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p><strong>means</strong>: "Find nodes, hereinafter referred to as n, delete the associated edges and delete n."</p>
</div>
<div class="paragraph">
<p>By the way, the command "MATCH (n) DETACH DELETE n" deletes your entire database, since the command finds, cuts and deletes every node.</p>
</div>
<div class="paragraph">
<p>But how do you refer to a specific node in a network?</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Types and Properties</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>So far we can create nodes with labels.
To add further informations to the nodes we provide them with individual properties (e.g. name, date of birth, place of living, place of death &#8230;&#8203;)
The node types and properties are not predefined and can be created as required. (Cf.: Data Modeling).</p>
</div>
<div class="paragraph">
<p>There are two ways to add properties: When you create the nodes or afterwards.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CREATE (f:Person {name:'Friedrich'}) RETURN f;<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p><strong>means</strong>: "Create a Person-type node with the property name and the value "Friedrich" and show it to me."</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Set property later</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Now, if we want to give Friedrich another property, we add it with SET. It is important that we do not close the command with a semicolon as above, as long as we still want to refer to the node using the variable f.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (f:Person {name:'Friedrich'})
SET f.dateOfBirth = '1415-09-21'
RETURN f;<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p><strong>means</strong>: "Find a Person-type node where the property 'name' contains the value 'Friedrich', the node is called 'f' in the following. For 'f', create the property 'date of birth' with the value '1415-09-21'. Show me f."</p>
</div>
<div class="paragraph">
<p><strong>INFO</strong>: Labels are written with the first Charakter uppercase, properties are written in lowercase or in camelcase like dateOfBirth as Whitespaces are not allowed.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Use Properties for Search</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>If we want to find Friedrich in our graph database, we search for him by a property (in this case the name):</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (f:Person {name:'Friedrich'}) RETURN f;<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p><strong>means</strong>: "Create a person-type node with the property "name" Friedrich, here called f, and show me f."</p>
</div>
<div class="paragraph">
<p>It would work the same way with the date of birth.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Exercise</h3>
    <br/>
    <div>
      


   <h4>1 First Delete all existing Nodes and Edges.</h4>



   <h4>2. Now Create the following Nodes:</h4>
   <div class="ulist">
<ul>
<li>
<p>A node of type Person with the property Name "Friedrich".</p>
</li>
<li>
<p>A node of type Person with the property Name "Serious"</p>
</li>
<li>
<p>A node of type Person with the property Name "Cimburgis".</p>
</li>
<li>
<p>Display the result.</p>
</li>
</ul>
</div>



   <h4>3. Add the following Dates of Birth:</h4>
   <div class="ulist">
<ul>
<li>
<p>Friedrich: 1415-09-21</p>
</li>
<li>
<p>Ernst: 1377</p>
</li>
<li>
<p>Cimburgis: 1394 or 1397</p>
</li>
<li>
<p>Display the result.</p>
</li>
</ul>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Solutions</h3>
    <br/>
    <div>
      


   <h4>To 1. First Delete all existing Nodes and Edges:</h4>
   <div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (n) DETACH DELETE n<!--/code--></pre>
</div>
</div>



   <h4>To 2. Now Create the following Nodes:</h4>
   <div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CREATE (f:Person {name:'Friedrich'})
CREATE (e:Person {name:'Ernst'})
CREATE (c:Person {name:'Cymburgis'})
RETURN *;<!--/code--></pre>
</div>
</div>



   <h4>To 3. Add the following Dates of Birth</h4>
   <div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (f:Person {name:'Friedrich'})
MATCH (c:Person {name:'Cymburgis'})
MATCH (e:Person {name:'Ernst'})

SET f.DateOfBirth = '1415-09-21'
SET e.DateOfBirth = '1377'
SET c.DateOfBirth = '1394'

RETURN *;<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>B1.2 Edges</h3>
    <br/>
    <div>
      


   <h4>Create and Find</h4>
   <div class="paragraph">
<p>An edge (connection, relation) between two nodes is represented in Cypher with an arrow:</p>
</div>
<div class="paragraph">
<p>--></p>
</div>
<div class="paragraph">
<p>The edge always has a direction.</p>
</div>
<div class="paragraph">
<p>Furthermore, the edge type must also be specified. -[:CHILD_OF]-></p>
</div>
<div class="paragraph">
<p><strong>INFO</strong>: The type of an edge is written in uppercase.</p>
</div>
<div class="paragraph">
<p>Edges, just like nodes, are created with the CREATE or MERGE commands and searched in the database with MATCH.</p>
</div>
<div class="paragraph">
<p>An edge between two nodes looks like this in Cypher:</p>
</div>
<div class="paragraph">
<p>(f)-[r:CHILD_OF]->(e)</p>
</div>
<div class="paragraph">
<p>Here the edge has the variable r. This is important to address the edge if he is used in the following commands.</p>
</div>
<div class="paragraph">
<p>To create an edge, we have to create the corresponding nodes with MERGE or CREATE or call them from the database with MERGE or MATCH. MERGE is always the safest way for small amounts of data.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Example 1: Child and Parents</h3>
    <br/>
    <div>
      <div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MERGE (f:Person {name:'Friedrich'})
MERGE (c:Person {name:'Cimburgis'})
MERGE (e:Person {name:'Ernst'})

CREATE (f)-[:CHILD_OF]-&gt;(c)
CREATE (f)-[:CHILD_OF]-&gt;(e)
RETURN *;<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p><strong>means</strong>:
"Find or create  a node of type Person with the property name "https://en.wikipedia.org/wiki/Frederick_III,<em>Holy_Roman_Emperor[Friedrich]", hereinafter referred to as f.<br>
Find or create a node of type Person with the property name "https://en.wikipedia.org/wiki/Cymburgis_of_Masovia[Cimburgis]", in the following called c<br>
Find or create a node of type Person with the property name "https://en.wikipedia.org/wiki/Ernest_of_Austria</em>(Habsburg)[Ernest]", hereinafter referred to as e.<br>
Create an edge of the type "child of" from f to c.<br>
Create an edge of type "child of" from f to e.<br>
Show me everything that was just found or created."</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Example 2: Married Couple</h3>
    <br/>
    <div>
      <div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MERGE (c:Person {name:'Cimburgis'})
MERGE (e:Person {name:'Ernst'})
CREATE (e)-[:SPOUSE_OF]-&gt;(c)
CREATE (c)-[:SPOUSE_OF]-&gt;(e)
RETURN *;<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p><strong>means</strong>:
"Find or create a node of type "person", here called c, where the property name is "Cimburgis".<br>
Find or create a node of type "person", here called e, where the property name is "Ernst".<br>
Create an edge of type "SPOUSE_OF" from e to c.<br>
Create an edge of type "SPOUSE_OF" from c to e.<br>
Show me everything that was just found or created."</p>
</div>
<div class="paragraph">
<p>*By the way: Since edges in Cypher always have one direction, but a marriage is based on reciprocity, we create "SPOUSE_OF" edges twice, i.e. once in each direction.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Exercise</h3>
    <br/>
    <div>
      <div class="ulist">
<div class="title">Now use the MERGE, MATCH, and CREATE commands to create the following edges and, if they do not already exist, the required nodes:</div>
<ul>
<li>
<p>Eleonore is married to Frederick</p>
</li>
<li>
<p>Friedrich is married to Eleonore</p>
</li>
<li>
<p>Gwendolyn is a child of Frederick</p>
</li>
<li>
<p>Cunegund is a child of Eleonore</p>
</li>
<li>
<p>Maximilian is a child of Friedrich</p>
</li>
<li>
<p>Maximilian is a child of Cunegond</p>
</li>
</ul>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Solution</h3>
    <br/>
    <div>
      <div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MERGE (f:Person {name:'Friedrich'})
MERGE (e:Person {name: 'Eleonore'})
MERGE (k:Person {name: 'Gwendolyn'})
MERGE (m:Person {name:'Maximilian'})

CREATE (f)-[:MARRIED_WITH]-&gt;(e)
CREATE (e)-[:MARRIED_WITH]-&gt;(f)

CREATE (k)-[:CHILD_OF]-&gt;(f)
CREATE (k)-[:CHILD_OF]-&gt;(e)

CREATE (m)-[:CHILD_OF]-&gt;(f)
CREATE (m)-[:CHILD_OF]-&gt;(e)

RETURN *;<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>B 1.3 Repetition</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>You&#8217;ve learned now:</p>
</div>
<table class="table tableblock frame-all grid-all" style="width: 100%;">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Term</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">(variable:type {property})</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Node</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">-[:type]-></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Edge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">MATCH</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">find</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">CREATE</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">create</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">MERGE</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">find, if not available create</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">SET</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">add property</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">RETURN</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">display</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">DETACH</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">cut</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">DELETE</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">delete</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">*</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">everything created or found by this command</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">end of command</p></td>
</tr>
</tbody>
</table>
	</div>
  </div>
</slide>
  </carousel>
</article>